<h1><center> Medical Health Expenses</h1></center>

* ## Predict the future medical expenses of patients based on certain features.


1. Factors affecting the medical expenses of the patients:-
2. Age
3. Gender
4. Body Mass Index
5. Region
6. Smoking Behaviour

<center><img src="img.jpg"/></center>

In [2]:
# import the required libraries

# for mathemaical operations
import numpy as np
# for dataframe manipulations
import pandas as pd

# for data visualizations
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# setting parameters for visualization
plt.rcParams['figure.figsize'] = (16, 5)
plt.style.use('seaborn-paper')

In [3]:
# lets read the data set
data = pd.read_csv('med-insurance.csv')
data.shape

(1338, 7)

In [5]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [7]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64